@use "./partials/mixins.scss" as*;
@use "./partials/typography.scss" as*;
@use "./partials/variables.scss" as *;


//global 

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  
  body {
    font-family: $avenir;
    margin: 0;
    background-image: url("../assets/images/iPhone\ 13\ Pro.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    width: 48rem;
    height: 87.1rem;
    overflow: auto;
    padding-top: 2rem;
    width: 43rem;
    margin: auto;
    position: relative;
  }